<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AmaroTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B496B4161E243D4E000E2CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B496B42D1E243D4F000E2CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B496B4381E243D4F000E2CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
